@font-face {
  font-family: "Eros Romano";
  src: url("ErosRomanoRegular.eot");
  src: url("ErosRomanoRegular.eot?#iefix") format("embedded-opentype"),
    url("ErosRomanoRegular.woff2") format("woff2"),
    url("ErosRomanoRegular.woff") format("woff"),
    url("ErosRomanoRegular.svg#ErosRomanoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Theramy";
  src: url("TheramyRegular.eot");
  src: url("TheramyRegular.eot?#iefix") format("embedded-opentype"),
    url("TheramyRegular.woff2") format("woff2"),
    url("TheramyRegular.woff") format("woff"),
    url("TheramyRegular.svg#TheramyRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ChosunNm";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.ttf")
      format("truetype");
  font-display: swap;
}
