
#wrap {

}
.gray {
    background: #f5f5f5;    
}
.white {
    background: #fff !important;
}
/* 컨테이너 */
.container {
    width: 1200px;
    margin: 0 auto;
    /* background-color: rgba(0,0,0,0.3); */
}
/* 헤더 01. float */
/* float으로 인한 영역 깨짐 현상 발생(하이트 값을 인식 못함)
   1. 깨지는 영역에 clear: both; 설정
   2. 부모 영역한테 overflow: hidden; 설정
   3. 가상의 영역(clearfix) 속성을 설정
*/
/*#header {
    padding: 10px;
    min-width: 1200px;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
}
#header .logo {
    float: left;
    width: 20%;
}
#header .logo a {
    font-size: 30px;
    display: inline-block;
    padding: 11px;
    margin-bottom: 1px;
}
#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    float: left;
    width: 60%;
    text-align: center;
}
#header .menu li {
    display: inline;
}
#header .menu li a {
    display: inline-block;
    margin: 20px 35px 0;
    padding: 0 20px;
}
#header .member {
    float: right;
    width: 20%;
    text-align: right;
}
#header .member a {
    border: 1px solid #000;
    border-radius: 50px;
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 9px 22px 7px;
    font-size: 16px;
}
*/
/* 헤더02. flex */
/* #header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    min-width: 1200px;
    white-space: nowrap;
}
#header .logo {
    flex: 0 0 20%; Three values: flex-grow  flex-shrink  flex-basis
}
#header .logo a {
    font-size: 30px;
    padding: 12px 18px;
    display: inline-block;
}
#header .menu {
    flex: 0 0 60%;
    text-align: center;
}
#header .menu li {
    display: inline;
}
#header .menu li a {
    padding: 20px 30px;
    display: inline-block;
}
#header .member {
    flex: 0 0 20%;
    text-align: right;
    padding: 10px 18px;
}
#header .member a {
    display: inline-block;
    padding: 9px 22px;
    border: 1px solid #000;
    border-radius: 50px;
} */
/* 헤더03. grid */
#header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    min-width: 1200px;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
#header .logo a {
    font-size: 30px;
    padding: 12px 18px;
    display: inline-block;
}
#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    text-align: center;
}
#header .menu li {
    display: inline;
}
#header .menu li a {
    padding: 20px 30px;
    display: inline-block;
    position: relative;
    transition: background 0.4s;
}
#header .menu li a:hover {
    background: #F5F5F5;
    border-radius: 10px;
}
/* #header .menu li a:hover {
    border-bottom: 1px solid #000;
    text-decoration: underline;
} */
#header .member {
    text-align: right;
    padding: 10px 18px;
}
#header .member a {
    display: inline-block;
    padding: 9px 22px;
    border: 1px solid #000;
    border-radius: 50px;
    transition: background 0.3s;
}
#header .member a:hover {
    background: #000;
    color: #fff;
}
/* 배너 */
/* .slider {
    position: relative;
    white-space: nowrap;
}
.slider-img {
    height: 600px;
    background: url(../img/배너.jpg) no-repeat center / cover;
}
.slider-img .desc {
    
    margin: 0 auto;
    max-width: 1200px;
    padding: 100px 0;
    color: #fff;
}
.slider-img .desc span {
    font-size: 18px;
}
.slider-img .desc h4 {
    font-size: 110px;
    font-weight: 300;
    margin-left: -8px;
}
.slider-img .desc p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 100px;
}
.slider-img .desc .btn a {
    font-size: 16px;
    padding: 11px 50px;
    display: inline-block;
}
.slider-img .desc .btn .white {
    background: #fff;
    color: #000;
}
.slider-img .desc .btn .black {
    background: #000;
    color: #fff;
}

.slider-arrow a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 56px;
    background: url(../img/bg-svg.svg);
}
.slider-arrow .left{
    left: 10px;
    background-position: 0 -50px;
}
.slider-arrow .right { 
    right: 10px;
    background-position: -23px -50px;
}
.slider-dot {
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    margin: 2px;
}
.slider-dot a{
    width: 14px;
    height: 14px;
    background: url(../img/bg-svg.svg);
    display: inline-block;
    margin: 2px;
}
.slider-dot .dot {
   width: 14px;
   height: 14px;
   background: #ccc;
   display: inline-block;
   background: url(../img/bg-svg.svg);
   background-position: -70px -50px;  
}
.slider-dot .dot.active {
    background-position: -50px -50px;
}
.slider-dot .play {   

   background-position: -88px -50px;
}
.slider-dot .stop {
    background-position: -110px -50px;
} */

/* swipwer */
.swiper {
    width: 100%;
    height: 600px;
}
.swiper-wrapper {}
.swiper-slide.s1 {
    background: url(../img/배너.jpg) no-repeat center / cover;
}
.swiper-slide.s2 {
    background: url(../img/배너.jpg) no-repeat center / cover;
}
.swiper-slide.s3 {
    background: url(../img/배너.jpg) no-repeat center / cover;
}
.swiper-slide .desc {
    margin: 0 auto;
    max-width: 1200px;
    padding: 100px 0;
    color: #fff;
}
.swiper-slide .desc span {
    font-size: 18px;
}
.swiper-slide .desc h4 {
    font-size: 110px;
    font-weight: 300;
    margin-left: -8px;
}
.swiper-slide .desc p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 100px;
}
.swiper-slide .desc .btn a {
    font-size: 16px;
    padding: 11px 50px;
    display: inline-block;
}
.swiper-slide .desc .btn .white {
    background: #fff;
    color: #000;
}
.swiper-slide .desc .btn .black {
    background: #000;
    color: #fff;
}
.swiper-button-prev {
    width: 27px;
    height: 56px;
    background: url(../img/bg-svg.svg);
    background-position: 0 -50px;
}
.swiper-button-prev:after {
    font-size: 0 !important;
}
.swiper-button-next {
    width: 27px;
    height: 56px;
    background: url(../img/bg-svg.svg);
    background-position: -23px -50px;
}
.swiper-button-next:after {
    font-size: 0 !important;
}
.swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
    background: #fff !important;
}





/*
    웹 사이트에서 이미지를 표현하는 방법  
    1. HTML 태그를 통해서 : img 태그 : 의미가 있는 이미지(로고, 메뉴) --> alt(대체 문자)
    2. CSS 속성을 통해서 : background 속성 : 의미가 없는 이미지(배경, 색표현) --> ir효과(대체 문자를 CSS 속성으로표현)
    3. 이미지 스프라이트 : background와 ir효과를 통해서 이미지를 표현
*/
/* 이미지/텍스트 유형(imgText_type01) */

.imgText_Type01 {
    padding: 150px 0;
    overflow: hidden;
}
.imgText_Type01 .text {
    float: left;
    width: 386.66px;
    height: 530px;
}
.imgText_Type01 .text .text_title {
    font-family: 'GmarketSans';    
    font-size: 50px;
    font-weight: 500;
    margin: 70px 0 45px -4px;
}
.imgText_Type01 .text .text_desc {
    font-family: 'N exonLv1Gothic';
    font-size: 18px;
    color: #888;
    margin-bottom: 55px;    
}
.imgText_Type01 .text .text_more {
    font-family: 'NexonLv1Gothic';
    font-size: 18px;
}
.imgText_Type01 .text .text_more a {
    color: #AF3029;
}
.imgText_Type01 .text .text_more svg {
    vertical-align: 2px;
    margin-left: 10px;
}
.imgText_Type01 .img01 {
    float: left;
    width: 386.66px;
    height: 530px;
    margin-right: 20px;
    background-image: url(../img/img_text_bg1.jpg);
    background-size: 100%;
}
.imgText_Type01 .img02 {
    float: left;
    width: 386.66px;
    height: 530px;
    background-image: url(../img/img_text_bg2.jpg);
    background-size: 100%;
}
@media (-webkit-min-device-pixel-ratio: 1.5){
    .imgText_type01 .img01 {
        background-image: url(../img/img_text_bg1@2x.jpg);
    }
    .imgText_type01 .img02 {
        background-image: url(../img/img_text_bg2@2x.jpg);
    }
}
@media (-webkit-min-device-pixel-ratio: 2.5){
    .imgText_type01 .img01 {
        background-image: url(../img/img_text_bg1@3x.jpg);
    }
    .imgText_type01 .img02 {
        background-image: url(../img/img_text_bg2@3x.jpg);
    }
}

.imgText_type02 {
    background: #F5F5F5;
    overflow: hidden;
    padding: 150px 0;
    min-width: 1200px;
}
.imgText_type02 .left {
    float: left;
    width: 48.5%;
    height: 535px;
    background: url(../img/img_text_bg3.jpg) no-repeat center center;
    background-size: cover;
    margin-right: 1.5%;
}
.imgText_type02 .right {
    font-family: 'GmarketSans';
    float: left;
    width: 48.5%;
    height: 535px;
    margin-left: 1.5%;
}
.imgText_type02 .right .sub {
    font-size: 16px;
    color: #7C7C7C;
    margin-top: 43px;
    margin-bottom: 10px;
    display: inline-block;
    /* text-decoration: underline;
    text-underline-position: under; */
    border-bottom: 1px solid #7C7C7C;
}
.imgText_type02 .right .title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 38px;
    white-space: nowrap;
}
.imgText_type02 .right .desc {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 38px;
    white-space: nowrap;
}
.imgText_type02 .right .view {
    font-size: 16px;
    font-weight: 300;
    background: #000;
    padding: 9px 46px;
    display: inline-block;
    color: #fff;
    font-weight: 500;
}

/* 이미지 유형01(img_type01) */
.img_type01 {
    padding: 150px 0;
}
.img_type01 h3 {
    font-size: 50px;
    line-height: 1;
    font-weight: 500;
  
    margin-bottom: 30px;
}
.img_type01 h3 em {
    font-size: 20px;
    color: #777;

    
}
.img_type01 .img-wrap {
  display: flex;
  justify-content: space-between;
}
.img_type01 .img-wrap .left {
    width: 590px;
    height: 360px;
    background: url(../img/사람1.jpg);
    position: relative;
    overflow: hidden;
}
.img_type01 .img-wrap .right {
    width: 590px;
    height: 360px;
    background: url(../img/사람2.jpg);
    position: relative;
    overflow: hidden;
 
}
.img_type01 .img-wrap .left .left-cont {
    position: absolute;
    left: 20px;
    bottom: -100px;
    transition: bottom 0.33s cubic-bezier(0.07, 0.71, 0.26, 0.99);
}
.img_type01 .img-wrap .left:hover .left-cont {
    bottom: 20px;
}
.img_type01 .img-wrap .right-cont {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 428px;
    padding: 10px;
}
.img_type01 .img-wrap .right .right-cont {
    position: absolute;
    left: 20px;
    bottom: -135px;
    transition: bottom 0.33s cubic-bezier(0.07, 0.71, 0.26, 0.99);
}
.img_type01 .img-wrap .right:hover .right-cont {
    bottom: 20px;
    background: #b5924094;
}
.img_type01 .img-wrap h4 {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}
.img_type01 .img-wrap p {
    font-size: 14px;
    color: #fff;
    padding-right: 200px;
    margin-bottom: 15px;
}
.img_type01 .img-wrap .left-cont a {
    background: #9a481d;
    padding: 10px 20px;
    color: #fff;
    display: inline-block;
}
.img_type01 .img-wrap .right-cont a {
    color: #fff;
    text-decoration: underline;
}



/* 이미지 유형02(img_type02) */
.img_type02 {
    padding: 150px 0;
    background: #fff;
}
.img_type02 h3 {
    font-size: 50px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 30px;
}
.img_type02 h3 em {
    font-size: 20px;
    color: #777;
    vertical-align: -4px;
}
.img_type02 .img-wrap {
 
}
.img_type02 .img-wrap ul {
    display: flex;
    justify-content: space-between;
}
.img_type02 .img-wrap li {
    width: 387px;
    height: 387px;
    background-size: 100%;
    position: relative;
    perspective: 800px;
}
.img_type02 .img-wrap li::after {
    content: '';
    display: block;
    background: #fff;
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: rotateX(-90deg);
}
.img_type02 .img-wrap li:hover::after {
    opacity: 0.8;
    transform: rotateX(0deg);
}
.img_type02 .img-wrap li span {
    position: absolute;
    left: 50%;
    top: calc(50% + 36px);
    color: #000;
    z-index: 100;
    transform: translate(-50%, -50%);
    text-align: center;
}
.img_type02 .img-wrap li span em {
    display: block;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    transition: all 0.3s;
}
.img_type02 .img-wrap li span a {
    display: block;
    background: #000;
    border-radius: 40px;
    font-weight: 300;
    margin-top: 5px;
    padding: 7px 10px 5px 10px;
    color: #fff;
    opacity: 0;
    transition: all 0.3s;
}
.img_type02 .img-wrap li:hover span {
    top: 50%;
    transition: all 0.3s ease-in-out;
}
.img_type02 .img-wrap li:hover span em {
    color: #000;
}
.img_type02 .img-wrap li:hover span a {
    opacity: 1;
}
.img_type02 .img-wrap li:nth-child(1) {
    background: url(../img/래퍼.jpg) no-repeat;

}
.img_type02 .img-wrap li:nth-child(2) {
    background: url(../img/거지.jpg) no-repeat;
}
.img_type02 .img-wrap li:nth-child(3) {
    background: url(../img/환자.jpg) no-repeat;
}
/* 이미지3 */
/* .banner_type01 {
 
}
.banner_type01 .container {
    width: 100%;
    background: url(../img/어린\ 시절.jpg) no-repeat ;
    height: 500px;
    position: relative;
}
.banner_type01 .container .img_desc {
    position: absolute;
    left: 44%;
    top: 25%;
}
.banner_type01 .container h3 {
    font-size: 50px;
    margin-bottom: 40px;
    padding: 0 50px;
}
.banner_type01 .container p {
    font-size: 20px;
    display: block;
    margin-bottom: 40px;
    text-align: center;
}
.banner_type01 .container a {
    font-size: 16px;
    padding: 130px;
    font-weight: 800;
} */

/* .banner_type01 */
.banner_type01 {
    background: url(../img/어린\ 시절.jpg) center center no-repeat;
    background-size: cover;
}
.banner_type01 .container {  
    padding: 150px 0;
    text-align: center;
    color: #fff;  
}
.banner_type01 .container h3 {
    font-family: 'GmarketSans';
    font-size: 50px;
    margin-bottom: 65px;
    font-weight: 500;
}
.banner_type01 .container p {
    font-size: 24px;
    margin-bottom: 65px;
    font-weight: 300;
}
.banner_type01 .container a {
    color: #fff;
    font-size: 16px;
    text-decoration: underline;
}
/* .banner_type01 .container {
    width: 100%;
    background: url(../img/어린\ 시절.jpg) no-repeat ;
    height: 500px;
    position: relative;
    color: #fff;
}
.banner_type01 .container h3 {
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    font-weight: 500;
}
.banner_type01 .container p {
    text-align: center;
    margin-top: 45px;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 70px;
}
.banner_type01 .container a {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: underline;
} */

/* #footer {
    padding: 150px 0 0 0 ;
    background: #f5f5f5;
    height: 682px;
}
.container
.footer-menu {
    font-family: 'GmarketSans';
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    height: 330px;
    margin-bottom: 80px;
}
.footer-menu h3 {
    font-family: '';
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}
.footer-menu li {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.84;
    
}
address {
    text-align: center;
    font-style: normal;
} */
#footer {
    
    padding: 150px 0;
    background: #f5f5f5;
    font-family: 'GmarketSans';
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(205, 205, 205);
    margin-bottom: 50px;
}
.footer-menu > div {
    width: 16%;
}
.footer-menu > div h3 {
    font-weight: 500;
    margin-bottom: 35px;
    font-size: 20px;
}
.footer-menu > div li a {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    position: relative;
    color: rgb(96, 96, 96);
    transition: all 0.3s;
}
.footer-menu > div li a:hover {
    color: rgb(0, 0, 0);
}
.footer-menu > div li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scaleX(0);
    transition: all 0.3s ease;
}
.footer-menu > div li a:hover::before {
    transform: scaleX(1);
    color: #000;
}
.footer-rights {
    text-align: center;
}
.footer-sns {
    margin-top: 10px;
}
.footer-sns ul {
    display: flex;
    justify-content: center;
}
.footer-sns li a {
    width: 30px;
    height: 30px;
    margin: 4px 6px;
    display: inline-block;
    background-image: url(../img/bg-svg.svg);
}
.footer-sns li:nth-child(2) a {
    background-position: -50px 0;
}
.footer-sns li:nth-child(3) a {
    background-position: -100px 0;
}
.footer-sns li:nth-child(4) a {
    background-position: -150px 0;
}


/* 회원가입 */
.join-type {
    height: 1000px;
}
