* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NexonLv1Gothic';
}
a {
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;
}
li {
    list-style: none;
}
img {
    width: 100%;
    vertical-align: top;   
}
body {
    width: 100%;
    height: 100vh;
    background-image: url(../../effect/img/slider01.jpg);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    color: #fff;
}
body.img01 {
    background-image: url(../img/headphone.jpg);
}
body.img02 {
    background-image: url(../img/img02.jpg);
}
body.img03 {
    background-image: url(../img/img03.jpg);
}
body.img04 {
    background-image: url(../img/img04.jpg);
}
body.img05 {
    background-image: url(../img/img05.jpg);
}
body.img06 {
    background-image: url(../img/img06.jpg);
}
body.img07 {
    background-image: url(../img/img07.jpg);
}
body.img08 {
    background-image: url(../img/img08.jpg);
}
body.img09 {
    background-image: url(../img/img09.jpg);
}
body.img10 {
    background-image: url(../img/img10.jpg);
}
body.img11 {
    background-image: url(../img/img011.jpg);
}
body.img12 {
    background-image: url(../img/img12.jpg);
}
body::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(7, 24, 6, 0.7);
    z-index: -1;
}
/* info */

.title {
    position: absolute;
    left: 20px;
    top: 20px;
}
.title h1 {
    font-size: 34px;
    border-bottom: 1px dashed #fff;
    margin-bottom: 8px;
    padding-bottom: 5px;
}
.title p {
    font-size: 16px;
}
.number {
    position: absolute;
    right: 20px;
    top: 20px;
}
.number li {
    display: inline;
}
.number li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}
.number li a:hover,
.number li.active a  {
    background: #fff;
    color: #000;
}
.source {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.source button {
    border: 1px solid #fff;
    background: transparent;
    font-family: 'NexonLv1Gothic';
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 50px;
    transition: all 0.2x;
    cursor: pointer;
}
.source button:hover {
    background: #fff;
    color: #000;
    font-size: 14px;
    line-height: 1.6;
}
.attr {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
/* modal */
#modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: 1000;
    transform: scale(0);
}
#modal.show {
    animation: foldOut 1s ease forwards;            
}  
#modal.show.hide {
    animation: foldIn 1s 0.3s ease backwards;
}     
.modal-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    transform: scale(0);
}
#modal.show .modal-wrap {
    animation: zoomOut 0.5s 1s ease forwards;
}
#modal.show.hide .modal-wrap {
    animation: zoomIn 0.5s ease forwards;
}
@keyframes foldOut {
    0%   {transform: scaleX(0) scaleY(0.005)}
    50%  {transform: scaleX(1) scaleY(0.005)}
    100% {transform: scaleX(1) scaleY(1)}
}
@keyframes foldIn {
    0%   {transform: scaleX(1) scaleY(1)}
    50%  {transform: scaleX(1) scaleY(0.005)}
    100% {transform: scaleX(0) scaleY(0.005)}
}
@keyframes zoomOut {
    0%   {transform: scaleX(0)}
    100% {transform: scaleX(1)}
}
@keyframes zoomIn {
    0%   {transform: scaleX(1)}
    100% {transform: scaleX(0)}
}
.modal-close {
    margin-top: 10px;
}
.modal-cont {       
    opacity: 1;
    position: relative;
}
.code-view {
    width: 60vw;
    height: 60vh;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    overflow: scroll;

}
/* .code-view::-webkit-scrollbar {
    width: 4px; 
    display: none;
}
.code-view::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
}
.code-view::-webkit-scrollbar-track {
    background-color: rgb(39, 95, 99); 
}
.code-view::-webkit-scrollbar-corner {
    background-color: #282936;
} */
.view-header {
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #e2e8f0;
    position: absolute;
    left: 0;top: 0;
    width: 100%;
    height: 32px;
    background: #fff;
    border-radius: 5px 5px 0 0;
}
.view-header > span {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 10px;
}
.view-header > span:nth-child(1) {
    background-color: #f56565;
}
.view-header > span:nth-child(2) {
    background-color: #f6e05e;
}
.view-header > span:nth-child(3) {
    background-color: #4ebb7b;
}
.view-title {
    position: absolute;
    left: 0; top: 32px;;
    width: 100%;
    height: 32px;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 9px 0 7px ;
    height: 37px;          
}
.view-title li {
    display: inline;
}
.view-title li a {
    color: rgb(150, 150, 150);
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 20px 10px 20px;
    margin: 2px 5px 0 0px;
}
.view-title li.active a {
    color: #000;           
    background: #ffeaea;  
}
.view-cont {
    background-color: #282c34;
    height: 100%;
    padding-top: 65px;
}
.view-cont > div {
    display: none;
}
.view-cont > div:first-child {
    display: block;
}
.view pre code.hljs {
    line-height: 1.6;
}